/.cache
/.git
/.husky
/.idea
/.scannerwork
/assets
/build
/coverage
/docs
/node_modules
/public
/src-tauri
!public/index.html
.gitignore
.prettierignore
package-lock.json
yarn.lock
pnpm-lock.yaml
LICENSE
*.graphql
.graphqlconfig
*.snap
*.txt
*.back
*.md
